.search {
    background-color: bisque;
  }
  
  .search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .search-input input {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 0.15rem 0.25rem;
  }
  
  .search-input input:focus {
    outline: none;
    border-color: #ff2058;
  }
  